body {
	background: url("views/unnamed (1).jpg");
	background-size: cover;
}
#container {
	position: relative;
	font-family: "Comic Sans MS", san-serif;
}

#screen-game {
	background-image: url("views/background-color/color (14).png");
	margin: 0 auto;
	position: relative;
}

#stage {
	background: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#video {
	position: absolute;
	bottom: 0;
}

#home {
	position: absolute;
}

#kodi {
	position: absolute;
	bottom: 0;
	right: 0;
}

#flatform {
	position: absolute;
	bottom: 0;
	right: 0;
}