<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameCount</key>
	<string>1</string>
	<key>container</key>
	<dict>
		<key>size</key>
		<string>2048,1536</string>
		<key>pos</key>
		<array>
			<string>0,0</string>
		</array>
		<key>children</key>
		<array>
			<dict>
				<key>name</key>
				<string>back</string>
				<key>size</key>
				<string>2048,1536</string>
				<key>pos</key>
				<array>
					<string>1024,768</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>drop_touch_yes</string>
				<key>size</key>
				<string>1112,908</string>
				<key>pos</key>
				<array>
					<string>576,1082</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>item15</string>
				<key>size</key>
				<string>280,224</string>
				<key>pos</key>
				<array>
					<string>1800,848</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>item14</string>
				<key>size</key>
				<string>280,224</string>
				<key>pos</key>
				<array>
					<string>1488,848</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>item13</string>
				<key>size</key>
				<string>280,224</string>
				<key>pos</key>
				<array>
					<string>1180,848</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>item12</string>
				<key>size</key>
				<string>280,224</string>
				<key>pos</key>
				<array>
					<string>1800,536</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>item11</string>
				<key>size</key>
				<string>280,224</string>
				<key>pos</key>
				<array>
					<string>1488,536</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>item10</string>
				<key>size</key>
				<string>280,224</string>
				<key>pos</key>
				<array>
					<string>1180,536</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>item9</string>
				<key>size</key>
				<string>280,224</string>
				<key>pos</key>
				<array>
					<string>868,536</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>item8</string>
				<key>size</key>
				<string>280,224</string>
				<key>pos</key>
				<array>
					<string>560,536</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>item7</string>
				<key>size</key>
				<string>280,224</string>
				<key>pos</key>
				<array>
					<string>248,536</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>item6</string>
				<key>size</key>
				<string>280,224</string>
				<key>pos</key>
				<array>
					<string>1800,228</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>item5</string>
				<key>size</key>
				<string>280,224</string>
				<key>pos</key>
				<array>
					<string>1488,228</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>item4</string>
				<key>size</key>
				<string>280,224</string>
				<key>pos</key>
				<array>
					<string>1180,228</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>item3</string>
				<key>size</key>
				<string>280,224</string>
				<key>pos</key>
				<array>
					<string>868,228</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>item2</string>
				<key>size</key>
				<string>280,224</string>
				<key>pos</key>
				<array>
					<string>560,228</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>item1</string>
				<key>size</key>
				<string>280,224</string>
				<key>pos</key>
				<array>
					<string>248,228</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>drop</string>
				<key>size</key>
				<string>1112,908</string>
				<key>pos</key>
				<array>
					<string>576,1082</string>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
